<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="#">
        <img
          src="../../../assets/netflix.png"
          alt="Logo"
          width="40"
          height="40"
        />
      </a>
      <form class="d-flex">
        <input
          class="form-control me-2"
          type="search"
          placeholder="Buscar películas o géneros..."
          aria-label="Buscar"
        />
      </form>
    </div>
  </nav>
</header>